{% extends "base.html" %} {%block content%}

<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card text-black">
          <img src="{{ course.context.url }}" />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">{{ course.name }}</h5>
              <p class="text-muted mb-4">{{ course.description }}</p>
    
            {% if course.is_sale %}

            <div class='d-flex justify-content-center small text-warning mb-2'>
                <div class='bi-star-fill'></div>
                &nbsp;&nbsp;&nbsp; Sales! &nbsp;&nbsp;&nbsp;
                <div class='bi-star-fill'></div>
            </div>
              <!-- Product price-->
            <strike>
                ${{course.price}}
            </strike>
                &nbsp;
                ${{course.sale_price}}
                
            {% else %}
                ${{ course.price }}
            {% endif %}
            <br></br>
        </div>
            <button type="button" value="{{ course.id }}" class="btn btn-danger" id="add-cart"> Add to cart </button>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    //Check if button is pressed
    $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_add' %}',
            data: {
                course_id: $(this).val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function(json){
              console.log(json)
              document.getElementById("cart_quantity").textContent = json.Quantity
              location.reload()
            },

            error: function(xhr, errmsg, err) {

            }
        });
    })
</script>

{%endblock%}
