{% extends "base.html" %} {% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{%block content%}
<!-- Header-->
<header class="bg-secondary py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Clastal</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        The dream knowledge wonderland
      </p>
    </div>
  </div>
</header>

{%if searched%}
    <!-- Section-->
    <section class="py-5 bg-info">
        <div class="container px-4 px-lg-5 mt-5">
          <div
            class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
          >
    
            {% for course in searched %}
              {% if course.is_sale %}
              <div class="col mb-5">
                <div class="card h-100">
                  <!-- Sale badge-->
                   <div class="badge bg-dark text-white position-absolute"
                   style="top: 0.5rem; right: 0.5rem">Now Sale</div>
                  <!-- Product image-->
                    {% if course.context_type == "image" %}
                  <img
                    class="card-img-top"
                    src="{{ course.context.url }}"
                    alt="..."
                  />
                    {% endif %}
                  <!-- Product details-->
                  <div class="card-body p-4">
                    <div class="text-center">
                      <!-- Product name-->
                      <h5 class="fw-bolder">{{ course.name }}</h5>
  
                      <div class='d-flex justify-content-center small text-warning mb-2'>
                        <div class='bi-star-fill'></div>
                        &nbsp;&nbsp;&nbsp; Sales! &nbsp;&nbsp;&nbsp;
                        <div class='bi-star-fill'></div>
                      </div>
                      <!-- Product price-->
                      <strike>
                        ${{course.price}}
                      </strike>
                        &nbsp;
                        ${{course.sale_price}}
                      <br />
                      {{course.description}}
  
                    </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                      <a class="btn btn-outline-dark mt-auto" href="{% url 'course' course.id %}"
                      >View Course</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              {% else %}
            <div class="col mb-5">
              <div class="card h-100">
                <!-- Product image-->
                  {% if course.context_type == "image" %}
                <img
                  class="card-img-top"
                  src="{{ course.context.url }}"
                  alt="..."
                />
                  {% endif %}
                <!-- Product details-->
                <div class="card-body p-4">
                  <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">{{ course.name }}</h5>
                    <!-- Product price-->
                    ${{course.price}}
                    <br />
                    {{course.description}}
                  </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center">
                    <a class="btn btn-outline-dark mt-auto" href="{% url 'course' course.id %}"
                      >View Course</a
                    >
                  </div>
                </div>
              </div>
            </div>
              {% endif %}
            {% endfor %}
      </section>
{% endif %}
{% endblock %}
