{% extends 'base.html' %} {%load static%} {%block content%}

<section class="h-auto">
  <div class="container-fluid h-custom bg-info">
    <div class="row d-flex justify-content-center align-items-center vh-100">
      <div class="col-md-6 d-flex flex-column align-items-center text-center">
        <!-- Flex row for image and Clastal text -->
        <div
          class="d-flex flex-row justify-content-center align-items-center mb-3"
        >
          <img
            src="{% static 'assets/logo.png' %}"
            class="img-fluid"
            alt="Sample image"
            style="max-width: 150px"
          />
          <h1 class="mb-0 font-monospace ms-3">Clastal</h1>
        </div>
        <!-- Paragraph in a separate row below the image and text -->
        <p class="mb-0">あ な た の 知 り た い 、 教 え た い を か な え</p>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-4 offset-xl-1">
        <h4 class="mb-5 text-uppercase">Change Password</h4>
        <form method="POST" action="{% url 'update_password' %}">
          {% csrf_token %}

          <div class="form-group mb-4" aria-placeholder="Password">
            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
          </div>
          <ul class="form-text">
            <li>
              Your password can't be too similar to your other personal
              information.
            </li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
          </ul>
          <div class="form-group mb-4" aria-placeholder="Confirm Password">
            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
          </div>

          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-warning">
              Update Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{%endblock%}
